.pio
sw/.pio/
sw/.vscode/
# If you use the Arduino IDE occasionally
sw/build/

# VS Code general settings
.vscode/
*.code-workspace

# KiCad temporary and backup files
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*.bck
*_autosave-*
fp-info-cache
python_cache/

# OS specific files
.DS_Store
Thumbs.db


pic/*

testfiles/*
